#header_name{
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 1%
}

.Status_section{
  border: 1px solid black;
  width: 58%;
  float: left;
}

.Status_Info{
  border: 1px solid black;
  width: 39%;
  float: right;
}

.label{
  font-family: 'Jua', sans-serif;
}

.Status{
  text-align: right;
  width: 50%;
  font-size: 15px;
  color: blue;
}

.button{
  width: 10%;
  background-color: skyblue;
  border-radius: 10px;
  display: inline-block;
}

.Info{
  color: blue;
}

.Formula{
  font-family: 'Jua', sans-serif;
}

.Equip_Info{
  display: block;
  border: 1px solid black;
  clear: both;
  margin-top: 3px;
}
